# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos sensibles
*.env
*.example
*.local
*.Identifier
config/secrets.json

# Ignorar directorios de dependencias
node_modules/
vendor/

# Ignorar archivos de compilación
dist/
build/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Ignorar entornos virtuales
venv/
env/
ENV/

# Otros ejemplos de archivos a ignorar
*.log
*.bak
*.swp
